@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

* {
    font-family: Lato;
}

html, body {
    background: -webkit-linear-gradient(left, #CCCCCC , #EEEEEE);
    background: -o-linear-gradient(right, #CCCCCC, #EEEEEE); 
    background: -moz-linear-gradient(right, #CCCCCC, #EEEEEE); 
    background: linear-gradient(to right, #CCCCCC , #EEEEEE); 
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    text-align:center;
}

.content {
    /* Absolute allows forcing div to the bottom */
    position: absolute;

    /* Center content */ 
    width: 60%;
    min-width: 600px;   /* we can discuss this number */
    margin-left: 20%;
    margin-right: 20%;

    /* top is the height of logo bar (height + border + 10px of extra space) */
    top: 90px;
    bottom: 10px;

    /*overflow: hidden;*/

    background: -webkit-linear-gradient(#333333, #222222);
    background: -o-linear-gradient(#333333, #222222); 
    background: -moz-linear-gradient(#333333, #222222); 
    background: linear-gradient(#333333, #222222);   
    border-right: #999999 solid 1px;
    border-left: #999999 solid 1px;
    color: #F0F0F0;
}

.clear {
    height: 5px;
    clear: both;
}

input {
    outline: 0;
    border: 1px solid #999999;
    padding: 3px;
}

input:hover {
    border-color: white;
    box-shadow: 0 0 7px white;
}

input:focus {
    border-color: white;
    box-shadow: 0 0 4px white;
}

input[type=radio]{
    box-shadow: none;
}

input[type=image]{
    box-shadow: none;
}

select {
    outline: 0;
    border: 1px solid #999999;
    background: white;
    padding: 3px;
}

select:hover {
    border-color: white;
    box-shadow: 0 0 7px white;
}

select:focus {
    border-color: white;
    box-shadow: 0 0 4px white;
}


/* logo-bar.php */
#logo-bar {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 70px;

    background: -webkit-linear-gradient(black, #444444);
    background: -o-linear-gradient(black, #444444);
    background: -moz-linear-gradient(black, #444444);
    background: linear-gradient(black, #444444);
    color: white;
    border-bottom: 10px solid #444444;
}
#logo-bar {
    white-space: nowrap;
}

#logo-bar * {
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

#logo-bar img {
    margin-right: 30px;
}

/* government-lookup.php */

/* iapt-lookup.php */

