@font-face {
    font-family: Lato;
    src: url(fonts/Lato-Regular.ttf);
}

* {
    font-family: Lato;
}

html, body {
    background: -webkit-linear-gradient(left, #CCCCCC , #EEEEEE);
    background: -o-linear-gradient(right, #CCCCCC, #EEEEEE); 
    background: -moz-linear-gradient(right, #CCCCCC, #EEEEEE); 
    background: linear-gradient(to right, #CCCCCC , #EEEEEE); 
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    text-align:center;
}

.content {
    /* Absolute allows forcing div to the bottom */
    position: absolute;

    /* Center content */ 
    width: 60%;
    min-width: 600px;   /* we can discuss this number */
    margin-left: 20%;
    margin-right: 20%;
    
    /* top is the height of logo bar (height + border + 10px of extra space) */
    top: 90px;
    bottom: 5px;
    /*overflow: hidden;*/

    background: -webkit-linear-gradient(#333333, #222222);
    background: -o-linear-gradient(#333333, #222222); 
    background: -moz-linear-gradient(#333333, #222222); 
    background: linear-gradient(#333333, #222222);   
    border-right: #999999 solid 1px;
    border-left: #999999 solid 1px;
    color: #F0F0F0;
}

.clear {
    height: 5px;
    clear: both;
}

/* logo-bar.php */
#logo-bar {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 70px;

    background: -webkit-linear-gradient(black, #444444);
    background: -o-linear-gradient(black, #444444);
    background: -moz-linear-gradient(black, #444444);
    background: linear-gradient(black, #444444);
    color: white;
    border-bottom: 10px solid #444444;
}
#logo-bar {
    white-space: nowrap;
}

#logo-bar * {
    vertical-align: middle;
    display: inline-block;
    height: auto;
}

#logo-bar img {
    margin-right: 30px;
}

/* index.php */

/* submit-form.php */
.content {
    min-width: 800px;
}

.form-container {
    text-align: left;
    margin: auto;
    /*margin-top: 50px;*/
}

.form-container img {
    display: inline-block;
}


.arrow {
    margin-top: 300px;
    padding: 20px;
    width: 50px;
    height: 50px;
}

.arrow:focus {
    outline: 0;
}

#prev-arrow {
    /* flip the arrow so we can use the same image */
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#form-column {
    width: 100%;
}

.form-section {
    position: absolute;
    top: 50px;
    left: 0px;
    right: 0px;
    margin-left: 10%;
    margin-right: 10%;
}

.form-section * {
    position: static;
}

.form-section table {
    width: 100%;
}


#general tr {
    height: 40px;
}

#general label {
    white-space: nowrap;
    display: inline-block;
    float: left;
}

#general input[type=text] {
    margin-left: 10%;
    width: 250px;
    border: 1px solid #999999;
    padding: 3px;

}

#general input[type=text]:hover {
    border-color: white;
    box-shadow: 0 0 5px white;
}

#general input[type=text]:focus {
    border-color: white;
    box-shadow: 0 0 5px white;
}


#general input[type=radio] {
    float: left;
    white-space: nowrap;
    display: inline-block;
}

#general .left-most-radio {
    margin-left: 10%;
}

#general .not-left-most-radio {
    margin-left: 20px;
}

#general button{
    margin: auto;
    width: 60%;
    border: 1px solid #999999;
}

#general td:last-child  {
    width: 100%;
}

#section-a table {
    border-collapse: collapse;
}

#section-a tr {
    border: dashed;
    border-width: 1px 0;
}

#section-a tr:first-child {
  border-top: none;
}

#section-a tr:last-child {
  border-bottom: none;
}

#section-a td {
    padding-top: 15px;
    padding-bottom: 15px;
}

#section-a td:first-child {
    width: 70%;
    padding-right: 10px;
}

#section-a td:nth-child(2) {
    width: 15%;
}

#section-a td:last-child {
    width: 15%;
}

#section-a label {
    white-space: normal;
    min-width: 50px;
}

/* government-lookup.php */

/* iapt-lookup.php */
