* {
    font-family: Arial;
}

html, body {
    background: -webkit-linear-gradient(left, #CCCCCC , white);
    background: -o-linear-gradient(right, #CCCCCC, white); 
    background: -moz-linear-gradient(right, #CCCCCC, white); 
    background: linear-gradient(to right, #CCCCCC , white); 
    margin: 0;
    height: 100%;
}

body {
    text-align:center;
    min-width: 720px;
}

.wrapper {
    margin: 0 0 -39px;
    min-height: 100%;
    height: auto !important;
    min-width: auto;
}

.content {
    margin: auto;
    display: inline-block;
}

.content h1 {
    text-align: center;
}

/* logo-bar.php */
#logo-bar {
    background: -webkit-linear-gradient(black, #444444);
    background: -o-linear-gradient(black, #444444);
    background: -moz-linear-gradient(black, #444444);
    background: linear-gradient(black, #444444);
    width: auto;
    position: relative;
    color: white;
    border-bottom: 10px solid #444444;
}

#logo-bar * {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}


/* index.php */

/* submit-form.php */

/* government-lookup.php */

/* iapt-lookup.php */
