.content {
	min-height: 250px;
	margin-bottom: 5px;
	padding: 20px;
}

#register-login {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.login-table {
    width: 50%;
    margin: 0 auto;
}

.login-table tr {
	height: 30px;
}

.login-table td {
	text-align: left;
	white-space: nowrap;
	padding-right: 20px;
}

.login-table input[type=text] {
	width: 150px;
	padding: 2px 3px;
	border: 0px;
	border-radius:  1px;
}

.login-table input[type=password] {
	width: 150px;
	padding: 2px 3px;
	border: 0px;
	border-radius:  1px;
}

hr {
	margin: 30px;
}

.about-us {
    width: 100%;
    margin-top: 500px;
}
